<%= stylesheet_link_tag "login_style", :media => "all" %>
<html>
<head>
	<meta name="generator" content="Hugo 0.83.1">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CtFinder</title>
  <meta name="description" content="CtFinder">
  <meta name="keywords" content="CfFinder">
  <meta name="author" content="CtFinder">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

</head>
<body>
   <% flash.each do |_, message| %>
      <div class="container">
        <p class="alert alert-success h4">
            <%= message %>
        </p>
      </div>
    <% end %>
 <div class="jumbotron">
    <div class="container">
    <div class="text-center">
     <%= image_tag '/CtFinder.png',size: '490x220'%>
      <br> <br>
      <p><font size="5">This is a platform for CTF Player to get your team.</font></p>
      </div>
      <!--
      <div class="text-center">
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
      -->
    </div>
    </div>
  

  <div class="container">
    <!-- Example row of columns -->
    
      <h2>Users</h2>
        <p>Have you ever wanted to join a CTF but didn't have the right team members? Well, there are plenty of members waiting for you on this platform! Come on, team up with people from all over the world and join the CTF! </p>
   

    <div class=" float-right">
      <%= link_to "View details", users_path,  data: {"turbolinks" => false}, class: "btn btn-secondary" %>
    </div>
  
    <br>
    <br>
    
    
      <h2>Competition</h2>
      <p> Today, at this very moment, there are still many CTF competitions being held around the world. Each tournament has its own hilarious members, so send me a DM if you like what you see!</p>
        
    
    <div class=" float-right">
        <%= link_to "View details", tournaments_path,  data: {"turbolinks" => false}, class: "btn btn-secondary" %>
    </div>
      <!--
      <div class="col-md-4">
        <h2>Misc</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      -->
    
  </div> <!-- /container -->
  <br><br><br>
    

    
</body>
</html>