<head>
    <title>CtFinder</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "direct_messages", :media => "all" %>
    <style>
    .box {
        width: px;                /* 横幅を200pxに指定 */
        height: 75vh;               /* 縦幅を200pxに指定 */     /* わかりやすくボーダーを引く */
        overflow-y: scroll;          /* 縦方向にスクロール可能にする */
    }
    </style>
</head>
<div class="container bootstrap snippets bootdey">
    <div class="row">        
        <!--=========================================================-->
        <!-- selected chat -->
    	<div class="col-12">
            <%# direct-message-success flash message %>
            <% if flash[:success] %>
                <div class="container">
                    <p class="alert alert-success h4">
                        <%= flash[:success] %>
                    </p>
                </div>
            <% end %>
            <%# direct-message-failed flash message %>
            <% if flash[:danger] %>
                <div class="container">
                    <p class="alert alert-danger h4">
                        <%= flash[:danger] %>
                    </p>
                </div>
            <% end %>
            <div class="container-fluid box">
                <div class="chat-message">
                    <ul class="chat">
                        <% if DirectMessage.find_by(matching_id: @matching.id).nil? %>
                            <li class="right clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font"><%= "CtFinder" %></strong>
                                        <small class="pull-right text-muted"><i class="fa fa-clock-o"></i></small>
                                    </div>
                                    <p>
                                        <%= "No message yet! Let's send a message!" %>
                                    </p>
                                </div>
                            <li>
                        <% else %>
                            <% @dms.each do |dm| %>
                                <% if params[:id].to_i == dm.sender_id %>
                                    <li class="left clearfix">
                                        <span class="chat-img pull-left">
                                            <p class="trim-image-to-circle"><%= image_tag @you.image, class: "d-block mx-auto" %></p>
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font"><%= @you.name %></strong>
                                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i><%= dm.created_at.strftime("%Y-%m-%d %H:%M") %></small>
                                            </div>
                                            <p>
                                                <%= dm.content %>
                                            </p>
                                        </div>
                                    </li>
                                <% else %>
                                    <li class="right clearfix">
                                        <span class="chat-img pull-right">
                                            <p class="trim-image-to-circle"><%= image_tag @me.image, class: "d-block mx-auto" %></p>
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font"><%= @me.name %></strong>
                                                <small class="pull-right text-muted"><i class="fa fa-clock-o"></i><%= dm.created_at.strftime("%Y-%m-%d %H:%M") %></small>
                                            </div>
                                            <p>
                                                <%= dm.content %>
                                            </p>
                                        </div>
                                    </li>
                                <% end %>                                            
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
            <%= form_for @direct_message, url: { controller: "direct_messages", action: "create" } do |f| %>
                <div class="chat-box bg-white">
                    <div class="input-group">
                        <%= f.text_field(:content, placeholder:"Type your message here", class:"form-control form-control-lg border no-shadow no-rounded") %>
                        <%= f.submit("Send", class: "btn btn-success no-rounded") %>
                    </div>
                </div>
            <% end %>    
		</div>        
	</div>
</div>