<style>
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #ffff;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/* .timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
} */

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}
.chat-img {
    width: 50px;
    height: 50px;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
  }
</style>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
  integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
  crossorigin="anonymous"></script>
<script　src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<div class="container">
  <div class="page-header">
    <h1 id="timeline">Users</h1>
  </div>
 
<%= form_tag({ controller: "users", action: "search" } )do  %>
  <div class="row">
    <div class="col-md-3">
      <label> Pwn </label>
       <% if @skills_query.nil? %>
          <% skills = [1]*5 %>
      <% else %>
          <%skills = [@skills_query[:pwn], @skills_query[:reversing],@skills_query[:crypto],@skills_query[:web],@skills_query[:misc]] %>
      <% end %>

      <%= select_tag('pwn',options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],['5','5']],:selected => skills[0]),class:"custom-select d-block w-100") %>
    </div>
    <div class="col-md-3">
      <label> Reversing </label>
      <%= select_tag('reversing',options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],['5','5']],:selected => skills[1]),class:"custom-select d-block w-100") %>
    </div>
    <div class="col-md-3">
      <label> Crypto </label>
      <%= select_tag('crypto',options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],['5','5']],:selected => skills[2]),class:"custom-select d-block w-100") %>
    </div>
    <div class="col-md-3">
      <label> Web </label>
      <%= select_tag('web',options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],['5','5']],:selected => skills[3]),class:"custom-select d-block w-100") %>
    </div>
    <div class="col-md-3">
      <label> Misc </label>
      <%= select_tag('misc',options_for_select([['1','1'],['2','2'],['3','3'],['4','4'],['5','5']],:selected => skills[4]),class:"custom-select d-block w-100") %>
    </div>
  </div>
  <div class=" text-center">
    <%= submit_tag("Query",class:"btn btn-primary btn-lg")  %>
  </div>
  
<% end %>
   

    


 <ul class="timeline">
  <% @user_and_actions.each_with_index do |usr,x| %>
  <% if x  < 20 %>
    <% if x % 2 == 0 %>
      <li>
          <div class="timeline-badge">
            <i><%= image_tag usr[:user].image, class: "chat-img" %></i>
          </div>
     <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= link_to "#{usr[:user].name}", user_path(usr[:user]), :style=>"text-decoration:none;color:black;" %></h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i><%= usr[:action] %></small></p>
            </div>
            <div class="timeline-body">
              <p><%= usr[:user].self_introduction %></p>
            </div>
                
        <div class="col-xl-7" style="background-color:white;">
          <div class="mx-auto" style="width:auto;">

            <!--レーダーグラフ-->
            <div style="width:auto">
              <canvas id="<%=usr[:user].name %>"></canvas>
            </div>
            <script>
             
            var ctx = document.getElementById('<%= usr[:user].name %>');
            var myChart = new Chart(ctx, {
              type: 'radar',
              data: {
                labels: ['Pwn', 'Reversing', 'Crypto', 'Web', 'Misc'],
                datasets: [{
                  label: '',
                  data: [ <%= usr[:user].pwn %>, <%= usr[:user].reversing %>, <%= usr[:user].crypto %>, <%= usr[:user].web %>, <%= usr[:user].misc %>],
                  // データライン
                  borderColor: 'rgba(255,30,30,1)',
                  pointBackgroundColor: 'rgba(255,30,30,1)',
                  borderWidth: 3,
                  backgroundColor: 'rgba(139,0,0,0.3)',
                }],
               
              },
              options: {
                plugins: 
                  {legend:{display:false},
                },                  
                scales: {
                  r: {
                    // 最小値・最大値
                    min: 0,
                    max: 5,
                    // 背景色
                    backgroundColor: 'white',
                    // グリッドライン
                    grid: {
                      color: 'silver',
                    },
                    // アングルライン
                    angleLines: {
                      color: 'silver',
                    },
                    // ポイントラベル
                    pointLabels: {
                      fontSize: 30,
                      color: 'black',
                      backdropColor: 'white',
                      backdropPadding: 0,
                      padding: 0,
                    },
                  },
                },
              },
            });
            </script>
          </div>
        </div>
      </div>
 </li>
   <% else %>
    
  <li class="timeline-inverted">
     
         <div class="timeline-badge">
            <i><%= image_tag usr[:user].image, class: "chat-img" %></i>
          </div>
    <div class="timeline-panel">
    
        <div class="timeline-heading">
              <h4 class="timeline-title"><%= link_to "#{usr[:user].name}", user_path(usr[:user]), :style=>"text-decoration:none;color:black;" %></h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> <%= usr[:action] %></small></p>
        </div>
            <div class="timeline-body">
              <p><%= usr[:user].self_introduction %></p>
            </div>
         
          <div class="col-xl-7" style="background-color:white;">
            <div class="mx-auto" style="width:auto;">

              <!--レーダーグラフ-->
              <div style="width:auto">
                <canvas id="<%= usr[:user].name %>"></canvas>
              </div>
             
            <script>
              var ctx = document.getElementById('<%= usr[:user].name %>');
              var myChart = new Chart(ctx, {
                type: 'radar',
                data: {
                  labels: ['Pwn', 'Reversing', 'Crypto', 'Web', 'Misc'],
                  datasets: [{
                    label: "value",
                    data: [ <%= usr[:user].pwn %>, <%= usr[:user].reversing %>, <%= usr[:user].crypto %>, <%= usr[:user].web %>, <%= usr[:user].misc %>],
                    // データライン
                    borderColor: 'rgba(255,30,30,1)',
                    pointBackgroundColor: 'rgba(255,30,30,1)',
                    borderWidth: 2,
                    backgroundColor: 'rgba(139,0,0,0.3)',
                  }],
                },
                options: {
                  title: {display:"value", text:"value"},
                  plugins: 
                    {legend:{display:false},
                },
                 
                  scales: {
                    r: {
                      // 最小値・最大値
                      min: 0,
                      max: 5,
                      // 背景色
                      backgroundColor: 'white',
                      // グリッドライン
                      grid: {
                        color: 'silver',
                      },
                      // アングルライン
                      angleLines: {
                        color: 'silver',
                      },
                      // ポイントラベル
                      pointLabels: {
                        fontSize: 30,
                        color: 'black',
                        backdropColor: 'white',
                        backdropPadding: 0,
                        padding: 0,
                      },
                    },
                  },
                },
              });
            </script>
            </div>
          </div> 
      </div>
  </li>
   <% end %>


<% end %> 
  
<% end %> 
</ul>

<%= paginate @user_and_actions , theme:'twitter-bootstrap-4'%>

</div>

    
   
  