<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>CtFinder</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<%= stylesheet_link_tag "userpage", :media => "all" %>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
  integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<%# login-success flash message %>
<% if flash[:success] %>
  <div class="container">
    <p class="alert alert-success h4">
      <%= flash[:success] %>
    </p>
  </div>
<% end %>

<%# no-matching flash message %>
<% if flash[:alert] %>
  <div class="container">
    <p class="alert alert-danger h4">
      <%= flash[:alert] %>
    </p>
  </div>
<% end %>

<%# matching-complete flash message %>
<% if flash[:matching_success] %>
  <script>
    Swal.fire({
      imageWidth: 1000,
      imageHeight: 300,
      width : '64rem',
      imageUrl: '/Match.png',
    });
  </script>
<% end %>

<%# like-success flash message %>
<% if flash[:like_success] %>
  <div class="container">
    <p class="alert alert-success h4">
      <%= flash[:like_success] %>
    </p>
  </div>
<% end %>

<%# like-failed flash message %>
<% if flash[:danger] %>
  <div class="container">
    <p class="alert alert-danger h4">
      <%= flash[:danger] %>
    </p>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xl-5" style="background-color:white;">
      <div>
        <div class="text-center">

          <!--写真-->
          <% if @user.image.attached? %>
            <%= image_tag @user.image, class: "trim-image-to-circle" %>
          <% else %>
            <%= image_tag '/user0.png', class: "trim-image-to-circle" %>
          <% end %>
        </div>

          <!--名前-->
          <p class="text-center text-break"><font size="7"><%= @user.name %></font></p>

          <!--自己紹介-->
          <div >
          <font size="5">Self-introduction:</font>
          <p class="text-break"><font size="5"><%= @user.self_introduction %></font></p>
          </div>
      </div>
      
    </div>

    <div class="col-xl-7" style="background-color:white;">
      <div class="mx-auto" style="width:auto;">

        <!--レーダーグラフ-->
        <div style="width:auto">
          <canvas id="mychart"></canvas>
        </div>
        <script>
        var ctx = document.getElementById('mychart');
        var myChart = new Chart(ctx, {
          type: 'radar',
          data: {
            labels: ['Pwn', 'Reversing', 'Crypto', 'Web', 'Misc'],
            datasets: [{
              label: false,
              data: [ <%= @user.pwn %>, <%= @user.reversing %>, <%= @user.crypto %>, <%= @user.web %>, <%= @user.misc %>],
              // データライン
              borderColor: 'rgba(255,30,30,1)',
              pointBackgroundColor: 'rgba(255,30,30,1)',
              borderWidth: 3,
              backgroundColor: 'rgba(139,0,0,0.3)'
            }],
          },
          options: {
            title: {display:false},
             plugins: 
                    {legend:{display:false},
                },
            scales: {
              r: {
                // 最小値・最大値
                min: 0,
                max: 5,
                // 背景色
                backgroundColor: 'white',
                // グリッドライン
                grid: {
                  color: 'silver',
                },
                // アングルライン
                angleLines: {
                  color: 'silver',
                },
                // ポイントラベル
                pointLabels: {
                  font: {size: 25},
                  color: 'black',
                  backdropColor: 'white',
                  backdropPadding: 0,
                  padding: 0,
                },
              },      
            },  
            ticks:{
            stepSize:1
          },
          },
        });
        </script>
      </div>
    </div>
  </div>
</div>
<% if !current_user.nil? && current_user.id != @user.id %>
  <div class="container" class="bg-info d-flex align-items-center justify-content-center">
        <!--ボタン-->
        <div class="mx-auto" style="width: 400px;">
        <%= button_to "Like!", "/users/#{@user.id}/like", {method: :post, liked_id: params[:id], class: "button-like"} %>
        </div>
  </div>
<% end %>

<% if matching_find %>
  <div class="container" class="bg-info d-flex align-items-center justify-content-center">
      <!--ダイレクトメッセージ-->
      <div class="mx-auto" style="width: 400px;">
      <%= button_to "DMを送信", "/users/#{@user.id}/direct_messages", {method: :get, class:"button-DM"}%>
      </div>
  </div> 
<% end %>

</div>


</html>