 <head>
 <style>
 .example4 {
    overflow-y: auto;
height: 600pt; 
}
.percent {
    width: 100%;
  }
  .percent2 {
    width: 75%;
    background-color: #99FFFF;
  }
  .percent3 {
    width: 75%;
    background-color: #FFCCFF;
  }
.mozi2 {
    margin-top:3%;
    font-size: 1.8em;
}
  </style>
 <meta charset="utf-8">
 </head>
 <body>

 <div class="container">
 <div class="col-12 px-0">
 <div class="example4">
 <div class="my-3 p-3 bg-white rounded shadow-sm">
 <h1 class="border-bottom border-gray pb-2 mb-0">大会一覧</h1>
 <%if @ts_and_ps!=nil then%>
 <% @ts_and_ps.each do |ts_and_ps| %>
 <div class="media text-muted pt-3">
   <img2 data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded percent">
   <p class="media-body pb-3 mb-0 small lh-125 border-bottom mozi border-gray style: 'width:100%;'">
   <div class="container-fluid">
 <div class="row align-items-center">
 <div class="col-9">
     <strong class="d-block text-gray-dark mozi2"><%= link_to ts_and_ps[:tournament].name ,"/tournaments/#{ts_and_ps[:tournament].id}/", method: :get %></strong>
     <%dt=ts_and_ps[:tournament].date%>
     開催日
     <%= dt.strftime("%Y/%m/%d %H:%M:%S") %>
   </p></div>
   <div class="col-3">
  <%if ts_and_ps[:join] then %>
  <%= button_to "exit", "/tournaments/#{ts_and_ps[:tournament].id}/participant_destroy", {method: :delete,class:"percent3"} %>
  <%else %>
  
  <%= button_to "join", "/tournaments/#{ts_and_ps[:tournament].id}/join", {method: :post,class:"percent2"} %>
  <%end%>
 </div>
 </div>
 </div>
 </div>
 <%end%>
 <%else%>
 <% @tournaments.each do |tournament| %>
    <div class="media text-muted pt-3">
      <img2 data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded percent">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom mozi border-gray style: 'width:100%;'">
      <div class="container-fluid">
    <div class="row align-items-center">
    <div class="col-9">
    <strong class="d-block text-gray-dark mozi2"><%= link_to tournament.name ,"/tournaments/#{tournament.id}/", method: :get %></strong>
    <%dt=tournament.date%>
    開催日
    <%= dt.strftime("%Y/%m/%d %H:%M:%S") %>
      </p></div>
      <div class="col-3">
    </div>
    </div>
    </div>
    </div>
     <%end%>
 <%end %>
 <small class="d-block text-right mt-3">
   <a href="#">All updates</a>
 </small>
</div>
</div>
</div>
</div>
 </body>
</html>
