 <head>
 <style>
    .horizontal-list {
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
    h1{
    margin: 1.5em;
}
    .example2 {
    overflow-y: auto;
    height: 300pt; 
    }
    .example3 {
        margin: 2em;
    }
    .example4 {
        overflow-y: auto;
    height: 600pt; 
    }
    .mozi2 {
        font-size: 1.3em;
    }
.mozi3{
    overflow:hidden;
    text-overflow: ellipsis;
white-space: nowrap;
}
    .mozi {
        font-size: 1.2em;
    }
    .percent {
  width: 100%;
}
.aligncenter {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  100%;       /* ※縦横を同値に */
    height: 100%;       /* ※縦横を同値に */}
    .item {
      /* 横スクロール用 */
      display: inline-block;
      width: 10%;

      /* 見た目調整 */
      margin: 16px;
      font-size: 1em;
      background: rgba(255, 0, 0, 0.4);
    }

  </style>
 <meta charset="utf-8">
 </head>
 <body>
  <% flash.each do |_, message| %>
      <div class="container">
        <p class="alert alert-success h4">
            <%= message %>
        </p>
      </div>
  <% end %>
  <h1><%= @tournament.name  %></h1>
 <div class="container-fluid">
 <div class="row">
 <div class="col-4">
 <div class="container-fluid example2">
 <h6 class="border-bottom border-gray pb-2 mb-0">participants</h6>
  <div class="row">
  <% @participants.each do |p| %>
    <div class="col-4">
    <div class="card">
    <p class="mozi3">
    <%= p.name %>
<<<<<<< HEAD
<<<<<<< HEAD
    <img src="https://placehold.jp/150x150.png" class="img1" alt="Card image cap">
=======
    <img src="https://placehold.jp/150x150.png" alt="Card image cap" class="aligncenter">
>>>>>>> 6ef544d4b06e3158d3f4f2321d510dd2962a122e
=======
    </p>
    <% user_img_path = "/user" + (p.id % 10).to_s + ".png" %>
    <%= image_tag user_img_path, class: "align-center" %>
>>>>>>> 422dbd511a133909200febbde5e8c4c6f1fd5238
    </div></div>
  <% end %>
  </div>
</div>
<div class="example3">
<% unless @post.nil? then %>
<%= form_for(@post, url: {controller: 'posts', action: 'create' } ) do |f| %>
  <div class="field form-group">
        <%= f.text_area :content,rows: 7,style: 'width:100%;', placeholder: "Compose new micropost..." %>
  </div>
    <%= f.submit "post", class: "btn btn-primary" %>
<% end %>
<% end %>
</div>
  </div>
  <div class="col-8 px-0">
  <div class="example4">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
  <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
  <% @posts.each do |post| %>
  <div class="media text-muted pt-3">
    <img2 data-src="holder.js/32x32?theme=thumb&bg=007bff&fg=007bff&size=1" alt="" class="mr-2 rounded percent">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom mozi border-gray style: 'width:100%;'">
      <strong class="d-block text-gray-dark mozi2"><%= post.participant.user.name %></strong>
      <%= post.content %>
    </p>
  </div>
  <%end %>
  <small class="d-block text-right mt-3">
    <a href="#">All updates</a>
  </small>
</div>

</div>
  </div>
  </div>
  </div>
 </body>
</html>
