<!DOCTYPE html>
<html>
  <head>
    <title>Ctfinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="logo"><a href="/"><img class="d-none d-md-inline" src="/images/iplab-logo.png" alt="CtFinder"></a></h1>
    
    <%= yield %>
  </body>
</html>
